@model COMP003B.SP25.FinalProject.VerissimoA.Models.Shelter

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Shelter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShelterId" />
            <div class="form-group">
                <label asp-for="ShelterName" class="control-label"></label>
                <input asp-for="ShelterName" class="form-control" />
                <span asp-validation-for="ShelterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShelterAddress" class="control-label"></label>
                <input asp-for="ShelterAddress" class="form-control" />
                <span asp-validation-for="ShelterAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShelterPhone" class="control-label"></label>
                <input asp-for="ShelterPhone" class="form-control" />
                <span asp-validation-for="ShelterPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShelterEmail" class="control-label"></label>
                <input asp-for="ShelterEmail" class="form-control" />
                <span asp-validation-for="ShelterEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
