@model COMP003B.SP25.FinalProject.VerissimoA.Models.Adopter

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Create</h1>

<h4>Adopter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdopterName" class="control-label"></label>
                <input asp-for="AdopterName" class="form-control" />
                <span asp-validation-for="AdopterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdopterEmail" class="control-label"></label>
                <input asp-for="AdopterEmail" class="form-control" />
                <span asp-validation-for="AdopterEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdopterAddress" class="control-label"></label>
                <input asp-for="AdopterAddress" class="form-control" />
                <span asp-validation-for="AdopterAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdopterPhone" class="control-label"></label>
                <input asp-for="AdopterPhone" class="form-control" />
                <span asp-validation-for="AdopterPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
